body {
    background-color: #fba7c9;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.flexcontainer {
    display: flex;
    justify-content: center; 
    padding: 10px 0;
    width: 100%; 
    box-sizing: border-box;
}

.middlecontainer {
    width: 720px;
    min-height: 100vh;
    margin-right: 400px;
    box-sizing: border-box;
}

.headsec {
    display: flex;
}

.packs-name {
    display: inline-flex;
    align-items: center;
    gap: 2px; 
}

.name{
    font-weight: 700;
}
.username{
    color: rgb(113, 106, 106);
    margin-left: 10px;
    font-weight: 300px;
    font-size: 12px;
}

.headerprofileimage {
    position: relative;
    margin-top: 10px;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.item-icon{
    margin: 5px 3px 0px 10px;
}
.back-icon {
    font-size: 20px;
    cursor: pointer;
}

#headerimage {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    outline: 2px solid white;
}

img.header-a{
    width: 105.6%;
}

img.header-b{
    width: 100%;
}

#profilepic {
    position: absolute;
    bottom: -65px;
    left: 20px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}

.editprofile {
    position: absolute;
    right: 30px;
    top: 230px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 15px;
    font-weight: bold;
    cursor: pointer;    
    color: white;
    background-color: transparent;
}

.bio {
    position: relative;
    margin-top: 80px;
    margin-left: 20px;
    line-height: 25px;
    font-size: 15px;
}

.handle {
    margin-bottom: 10px;
}

span {
    color: rgb(113, 106, 106);
}

.nawa {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.heading {
    display: flex;   
    justify-content: space-around;
    border-bottom: 1px solid white;
    margin-top: 20px;
    font-weight: bold;
}

.heading p {
    cursor: pointer;    
    padding: 10px 0;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px transparent;
}

.heading p:hover {
    background-color: rgba(250,211,226,0.6);
    border-radius: 20px;
}

.mytweets {
    flex-direction: column;
    padding: 20px;
}

.tweet {
    display: flex;
    margin-bottom: 30px;
    padding: 5px;
    padding-bottom: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(250,211,226,0.6);
}

.tweetcontent {
    margin: 0 0 5px 0;
    white-space: pre-wrap;
    font-size: 1rem;
    text-align: justify;
}
.tweetbody {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.avi {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.y {
    flex: 1;
}

.retweeticons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    margin-left: 10px;
    cursor: pointer;
    align-items: center;
    height: auto; 
    flex-wrap: wrap;   
}

.retweeticons li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.delete-btn ion-icon {
    font-size: 17px;
    color: white;
}

.follow-btn {
    display: inline-block;
    padding:3px 5px;     
    font-size: 0.875rem;          
    font-weight: 500;  
    background-color: #fba7c9;  
    border: 1px solid #fba7c9;
    color: white;
    cursor: pointer;
    box-shadow: none;
    outline: none;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
   margin-left: 30px;
}

.tweet-image{
    flex: 0 0 32%;   
    padding-bottom: 10px;
    border-buttom: 1px solid white;     
}

