.edit-profile-wrapper {
  max-width: 720px;
  margin: 30px auto;
  padding: 20px 120px;
}

.edit-profile-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 16px 20px;
}

.edit-profile-header {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 0.5rem;
  color:#fba7c9;
}

.edit-profile-body {
  width: 100%;
}

.header-title {
    /* display: flex;
    align-items: center; */
 
}

.item-icon {
  margin-left: 12px;
  color: white;
}

.back-icon {
  font-size: 20px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 24px;
  margin-left:20px;
  margin-right: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #fba7c9;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  font-family: inherit;
}

.input:focus {
  border-color: #fba7c9;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(250,211,226,0.25);;
}

.error {
  margin-top: 0.25rem;
  color: #dc3545;
  font-size: 0.875rem;
}

.btn {
  background-color:#fba7c9;
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid transparent;
}

.btn:hover {
  background-color:rgba(250,211,226,0.5);;
  border-color: #fba7c9;
  color: #fba7c9;
}


