body {
    background-color: #fba7c9;
}

.tweet-container {
    padding: 20px;
    width: 600px;
    margin-left: 100px;
    padding-right: 50px;
}

.tweet-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tweet-item {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 16px;
    padding: 15px;
    /* padding-right:200px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tweet-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.packs-name {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    font-size:15px;
    margin: 0;
}

a {
  text-decoration: none;
  color: #fba7c9;
}

.username {
    color: #717171;
    font-size: 12px;
    margin-top: 2px;
}

.tweet-body {
    display: flex;
    flex-direction: column;
   
}

.tweet-body p {
    margin: 0 0 5px 0;
    white-space: pre-wrap;
    font-size: 15px;
}


.tweet-img {
    max-width: 80%;
    border-radius: 10px;
}

.retweeticons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    margin-left: 10px;
    cursor: pointer;
    padding-top:5px
}

ion-icon{
    color:#fba7c9;
}

span {
    color: rgb(113, 106, 106);
}

.like-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.tweet-box {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 16px;
    margin-top: 15px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.tweet-input-section {
    display: flex;
    /* padding: 10px; */
    gap: 10px;
}

.tweet-input-section textarea {
    width: 100%;
    padding: 20px 70px ;
    font-size: 1rem;
    resize: none;
    border: none;
    border-radius: 12px;
    background-color: #f5f8fa;
    outline: none;
}

.tweet-submit-btn {
    background-color:  #fba7c9;
    border: none;
    padding: 8px 16px;
    color: white;
    border-radius: 300px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;
    }

.tweet-submit-btn:hover {
    background-color:  #e481a8;
}

.tweet-actions {     
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.image-preview {
     margin-top: 10px;
}

.upload-label {
    cursor: pointer;
    font-size: 25px;
    color: #fba7c9;
    margin-right: auto;
}

.feed-toggle {
    display: flex;
    /* background-color: white; */
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 45pX;
    border: 1px solid white;
    border-radius: 12px;
    background: url('/image/z2.jpg');
     background-size: contain;
    background-size: 100%;
    background-repeat: repeat;    
    background-position: center;
}

.feed-toggle a {
    text-decoration: none;
    color: white;
    padding-top: 13px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search-empty{
    padding: 20px; 
    color:white;
}